.sectionWrapper {
  margin: 0 auto;
  padding-left: 7.5vw;
  padding-right: 7.5vw;
  max-width: calc(1600px + 15vw);
  background-color: #fff;
}

@media (max-width: 575px) {
  .sectionWrapper {
    margin: 0 auto;
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: calc(1400px + 10vw);
    // overflow: hidden;
  }
}

.heroMarginTop {
}

.maroonBtn {
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  background-color: var(--maroon);
  color: #fff;
  font-size: var(--font16);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  width: fit-content;

  @media only screen and (max-width: 769px) {
    padding: 1.6rem 4rem;
  }

  &:hover {
    background-color: #c7222a;
  }
}

.maroonTrBtn {
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  background-color: transparent;
  color: #66101f;
  border: 1px solid var(--maroon);
  font-size: var(--font16);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  width: fit-content;

  @media only screen and (max-width: 769px) {
    padding: 1.6rem 4rem;
  }

  &:hover {
    background-color: #c7222a;
    border: 1px solid #c7222a;
    color: #fff;
  }
}
