@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
:root {
  --black-0: #000000;
  --black-1: #020202;
  --black-2: #060606;
  --black-3: #141414;
  --black-4: #020f14;
  --white-0: #ffffff;
  --white-1: #fffbfb;
  --white-2: #f6f6f6;
  --white-3: #f0f0f0;
  --white-4: #ebf9e5;
  --maroon: #66101f;
  /* font famalies */
  --nunito: "Nunito", sans-serif;
  --manrope: "Manrope", sans-serif;
  /* font sizes */
  --font64: clamp(3.6rem, 4vw, 6.4rem);
  --font48: clamp(3.2rem, 2.8vw, 4.8rem);
  --font40: 4rem;
  --font36: 3.6rem;
  --font32: 3.2rem;
  --font28: 2.8rem;
  --font24: 2.4rem;
  --font20: 2rem;
  --font18: 1.8rem;
  --font16: 1.6rem;
  --font14: 1.4rem;
  --font12: 1.2rem;
  /* Default (desktop) values */
  --padding4: 4rem 0;
  --padding8: 8rem 0;
  --padding12: 12rem 0;
  --padding16: 16rem 0;
  /* Padding bottom */
  --paddingB4: 4rem;
  --paddingB8: 8rem;
  --paddingB12: 12rem;
  /* Padding top */
  --paddingT4: 4rem;
  --paddingT8: 8rem;
  --paddingT12: 12rem;
  /* Tablet (≤ 769px) */
  /* Mobile (≤ 575px) */ }
  @media only screen and (max-width: 769px) {
    :root {
      --padding8: 6rem 0;
      --padding12: 8rem 0;
      --padding16: 12rem 0;
      --font40: 2.8rem;
      --font36: 2.6rem;
      --font32: 2.4rem;
      --font28: 2.2rem;
      --font24: 2rem;
      --font20: 1.7rem;
      --font16: 1.4rem;
      --font14: 1.3rem; } }
  @media only screen and (max-width: 575px) {
    :root {
      --padding4: 3rem 0;
      --padding12: 6rem 0;
      --font48: clamp(2rem, 2vw, 4.8rem);
      --font40: 2.2rem;
      --font36: 2rem;
      --font32: 2rem;
      --font28: 1.8rem;
      --font24: 1.6rem;
      --font20: 1.5rem;
      --font16: 1.3rem;
      --font14: 1.2rem;
      --font12: 1.1rem; } }

@keyframes marqueeAnim {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-50%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  font-optical-sizing: auto;
  font-style: normal; }
  @media only screen and (max-width: 991px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 769px) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 320px) {
    html {
      font-size: 50%; } }

body {
  background-color: #f1efee;
  color: #171a17;
  overflow-x: hidden;
  position: relative;
  font-size: 1.6rem; }

a {
  text-decoration: none; }

.sectionWrapper {
  margin: 0 auto;
  padding-left: 7.5vw;
  padding-right: 7.5vw;
  max-width: calc(1600px + 15vw);
  background-color: #f1efee; }

@media (max-width: 575px) {
  .sectionWrapper {
    margin: 0 auto;
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: calc(1400px + 10vw); } }

.cardTag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.6rem;
  border-radius: 10rem;
  border: solid 1px #66101f;
  background-color: rgba(102, 16, 31, 0.1);
  font-family: var(--manrope);
  font-size: var(--font12);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #66101f; }

.maroonBtn {
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  background-color: var(--maroon);
  color: #fff;
  font-size: var(--font16);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  width: fit-content; }
  @media only screen and (max-width: 769px) {
    .maroonBtn {
      padding: 1.6rem 4rem; } }
  .maroonBtn:hover {
    background-color: #c7222a; }

.maroonTrBtn {
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  background-color: transparent;
  color: #66101f;
  border: 1px solid var(--maroon);
  font-size: var(--font16);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  width: fit-content; }
  @media only screen and (max-width: 769px) {
    .maroonTrBtn {
      padding: 1.6rem 4rem; } }
  .maroonTrBtn:hover {
    background-color: #c7222a;
    border: 1px solid #c7222a;
    color: #fff; }

.whiteBtn {
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  background-color: #f1efee;
  color: #66101f;
  font-size: var(--font16);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  width: fit-content; }
  @media only screen and (max-width: 769px) {
    .whiteBtn {
      padding: 1.6rem 4rem; } }
  .whiteBtn:hover {
    background-color: #ffeadf; }

.whiteTrBtn {
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-size: var(--font16);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  width: fit-content; }
  @media only screen and (max-width: 769px) {
    .whiteTrBtn {
      padding: 1.6rem 4rem; } }
  .whiteTrBtn:hover {
    background-color: #fff;
    border: 1px solid #f1efee;
    color: #66101f; }

.aboutOurVision {
  display: flex; }
  .aboutOurVision .sectionWrapper {
    display: flex;
    gap: 7rem; }
    .aboutOurVision .sectionWrapper .c1 {
      display: flex;
      flex-direction: column;
      width: 60%; }
    .aboutOurVision .sectionWrapper .c2 {
      display: flex;
      flex-direction: column;
      width: 40%; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #f1efee;
  transition: all 0.3s ease-in-out;
  border-bottom: 0.5px solid rgba(23, 26, 23, 0.5); }
  .header .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    padding: 2rem 0;
    background-color: #f1efee; }
    @media only screen and (max-width: 1100px) {
      .header .headerContainer {
        gap: 2rem; } }
    @media only screen and (max-width: 769px) {
      .header .headerContainer {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 4rem;
        border-radius: 0;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out; } }
    @media only screen and (max-width: 769px) {
      .header .headerContainer .headerLogo {
        margin-bottom: 4rem;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between; } }
    .header .headerContainer .headerLogo a {
      text-decoration: none; }
      .header .headerContainer .headerLogo a img {
        height: 2.8rem;
        width: auto;
        display: block; }
    .header .headerContainer .headerNav ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 3.2rem; }
      @media only screen and (max-width: 850px) {
        .header .headerContainer .headerNav ul {
          gap: 2.4rem; } }
      @media only screen and (max-width: 769px) {
        .header .headerContainer .headerNav ul {
          flex-direction: column;
          align-items: flex-start; } }
      .header .headerContainer .headerNav ul li {
        cursor: pointer;
        position: relative;
        /* Ensure li is relative so the dropdown is positioned correctly */
        /* Dropdown styling */
        /* Fix: Show dropdown only when the specific parent li is hovered */
        /* Dropdown list items */ }
        @media only screen and (max-width: 769px) {
          .header .headerContainer .headerNav ul li {
            gap: 1rem; } }
        .header .headerContainer .headerNav ul li .dropNav {
          display: flex;
          align-items: center;
          gap: 5px; }
          @media only screen and (max-width: 769px) {
            .header .headerContainer .headerNav ul li .dropNav {
              gap: 1rem; } }
        .header .headerContainer .headerNav ul li a {
          font-size: var(--font16);
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #000;
          text-decoration: none;
          white-space: nowrap; }
          @media only screen and (max-width: 769px) {
            .header .headerContainer .headerNav ul li a {
              font-size: 2.4rem; } }
          .header .headerContainer .headerNav ul li a:hover {
            opacity: 0.6; }
            @media only screen and (max-width: 769px) {
              .header .headerContainer .headerNav ul li a:hover {
                opacity: 1; } }
        .header .headerContainer .headerNav ul li span {
          display: flex; }
          .header .headerContainer .headerNav ul li span svg {
            width: 1.2rem;
            height: 1.2rem;
            transition: all 0.3s ease-in-out; }
            @media only screen and (max-width: 769px) {
              .header .headerContainer .headerNav ul li span svg {
                width: 1.5rem;
                height: 1.5rem; } }
      .header .headerContainer .headerNav ul li:hover .dropNav a {
        opacity: 0.6; }
        @media only screen and (max-width: 769px) {
          .header .headerContainer .headerNav ul li:hover .dropNav a {
            opacity: 1; } }
      .header .headerContainer .headerNav ul li:hover span svg {
        transform: rotate(180deg);
        opacity: 0.6; }
        @media only screen and (max-width: 769px) {
          .header .headerContainer .headerNav ul li:hover span svg {
            transform: none; } }

.footer .footerContainer {
  background-image: linear-gradient(107deg, #0d3b66 0%, #2c7bc4 100%);
  border-radius: 6rem;
  padding: 8rem 6rem 14rem 6rem;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin: var(--paddingB4) 0;
  position: relative;
  overflow: hidden; }
  .footer .footerContainer .footerShape {
    position: absolute;
    right: -4rem;
    top: -2rem;
    width: auto; }
  .footer .footerContainer .left {
    width: 40%;
    position: relative; }
    .footer .footerContainer .left .footerLogo {
      margin-bottom: 2rem; }
      .footer .footerContainer .left .footerLogo img {
        height: 7rem;
        width: auto;
        display: block; }
    .footer .footerContainer .left p {
      font-family: var(--manrope);
      font-size: var(--font16);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 2rem;
      width: 90%; }
    .footer .footerContainer .left .subscribeContainer {
      display: flex;
      align-items: center;
      gap: 0.6rem; }
      .footer .footerContainer .left .subscribeContainer input[type="email"] {
        padding: 1.6rem;
        border-radius: 1rem;
        background-color: #efefef;
        outline: none;
        border: none;
        font-family: var(--manrope);
        font-size: var(--font12);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #242424;
        width: 100%; }
        .footer .footerContainer .left .subscribeContainer input[type="email"]::placeholder {
          color: rgba(36, 36, 36, 0.6); }
      .footer .footerContainer .left .subscribeContainer button {
        padding: 1.6rem 2rem;
        border-radius: 1rem;
        background-color: #fff;
        font-family: var(--manrope);
        font-size: var(--font12);
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #242424;
        outline: none;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out; }
  .footer .footerContainer .right {
    display: flex;
    justify-content: space-around;
    gap: 4vw;
    width: 50%;
    position: relative; }
    .footer .footerContainer .right .footerLinks ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1.6rem; }
      .footer .footerContainer .right .footerLinks ul li {
        transition: all 0.3s ease-in-out; }
        .footer .footerContainer .right .footerLinks ul li a {
          font-family: var(--manrope);
          font-size: var(--font14);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: left;
          color: #fff; }
        .footer .footerContainer .right .footerLinks ul li:hover {
          opacity: 0.6; }
    .footer .footerContainer .right .footerSocial li {
      display: flex;
      align-items: center;
      gap: 0.6rem; }
      .footer .footerContainer .right .footerSocial li span {
        display: flex; }
        .footer .footerContainer .right .footerSocial li span svg {
          width: 2.4rem;
          height: 2.4rem;
          transition: all 0.3s ease-in-out; }
  .footer .footerContainer .footerBottom {
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center; }
    .footer .footerContainer .footerBottom .footerBottomLinks {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem; }
      .footer .footerContainer .footerBottom .footerBottomLinks a {
        font-family: var(--manrope);
        font-size: var(--font14);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: rgba(255, 255, 255, 0.6); }

.homeBanner.heroMarginTop .homeBannerContainer {
  background: transparent; }
  .homeBanner.heroMarginTop .homeBannerContainer .homeBannerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem; }
    .homeBanner.heroMarginTop .homeBannerContainer .homeBannerContent .topTitle {
      display: flex;
      align-items: center;
      gap: 2.6rem; }
      .homeBanner.heroMarginTop .homeBannerContainer .homeBannerContent .topTitle h2 {
        font-family: var(--manrope);
        font-size: var(--font16);
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: 4px;
        text-align: left;
        color: #171a17;
        text-transform: uppercase; }
      .homeBanner.heroMarginTop .homeBannerContainer .homeBannerContent .topTitle img {
        height: 4rem;
        width: 4rem;
        object-fit: contain;
        display: block; }
    .homeBanner.heroMarginTop .homeBannerContainer .homeBannerContent h1 {
      font-family: var(--nunito);
      font-size: var(--font64);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -1.28px;
      text-align: center;
      color: #171a17; }
      .homeBanner.heroMarginTop .homeBannerContainer .homeBannerContent h1 span {
        white-space: nowrap; }
    .homeBanner.heroMarginTop .homeBannerContainer .homeBannerContent p {
      font-family: var(--manrope);
      font-size: var(--font16);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: rgba(23, 26, 23, 0.8);
      width: 80%; }

.homeBanner.heroMarginTop .homeBannerImage {
  position: relative;
  width: 100%; }
  .homeBanner.heroMarginTop .homeBannerImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: translateY(-8rem);
    position: relative;
    z-index: -1; }
  .homeBanner.heroMarginTop .homeBannerImage .bannerCard {
    border-radius: 1.5rem;
    padding: 2.6rem;
    border: solid 0.5px rgba(23, 26, 23, 0.5);
    background-color: #fff;
    position: absolute;
    right: 7.5vw;
    bottom: 8.5rem; }
    @media (max-width: 575px) {
      .homeBanner.heroMarginTop .homeBannerImage .bannerCard {
        right: 5vw; } }
    .homeBanner.heroMarginTop .homeBannerImage .bannerCard .pointsWrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      margin-bottom: 2rem; }
      .homeBanner.heroMarginTop .homeBannerImage .bannerCard .pointsWrapper .point p {
        font-family: var(--manrope);
        font-size: var(--font14);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: left;
        color: #171a17; }
      .homeBanner.heroMarginTop .homeBannerImage .bannerCard .pointsWrapper .point h4 {
        font-family: var(--nunito);
        font-size: var(--font36);
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.8px;
        text-align: left;
        color: #0d3b66; }
    .homeBanner.heroMarginTop .homeBannerImage .bannerCard .btnWrapper a {
      width: 100%; }

.homeMarquee .homeMarqueeContainer {
  overflow: hidden; }
  .homeMarquee .homeMarqueeContainer .marquee {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-bottom: 0.5px solid rgba(23, 26, 23, 0.5);
    border-top: 0.5px solid rgba(23, 26, 23, 0.5);
    display: flex;
    align-items: center;
    gap: 4rem; }
    .homeMarquee .homeMarqueeContainer .marquee .marqueeContent {
      padding: 2.6rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      white-space: nowrap;
      will-change: transform;
      animation: marqueeAnim linear infinite; }
      .homeMarquee .homeMarqueeContainer .marquee .marqueeContent img {
        height: 3rem;
        width: auto;
        display: block; }
      .homeMarquee .homeMarqueeContainer .marquee .marqueeContent p {
        font-family: var(--nunito);
        font-size: var(--font32);
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.06;
        letter-spacing: -0.64px;
        text-align: left;
        color: #171a17; }

.homeSpotlight .spotlightContainer {
  padding: var(--padding8); }
  .homeSpotlight .spotlightContainer h2 {
    font-family: var(--nunito);
    font-size: var(--font48);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.96px;
    text-align: left;
    color: #171a17; }
  .homeSpotlight .spotlightContainer .cardsContainer {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    margin-top: 2.4rem;
    justify-content: space-between;
    width: 100%;
    max-width: 100%; }
    .homeSpotlight .spotlightContainer .cardsContainer .card {
      border-radius: 1.5rem;
      border: solid 1px rgba(13, 59, 102, 0.5);
      background-color: #f1efee;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 2.8rem; }
      .homeSpotlight .spotlightContainer .cardsContainer .card .tagsContainer {
        display: flex;
        align-items: center;
        gap: 0.6rem; }
      .homeSpotlight .spotlightContainer .cardsContainer .card .cardContent h5 {
        font-family: var(--manrope);
        font-size: var(--font28);
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #171a17;
        display: flex;
        align-items: center;
        gap: 1.2rem;
        margin-bottom: 2rem; }
        .homeSpotlight .spotlightContainer .cardsContainer .card .cardContent h5 span img {
          height: 4rem;
          width: auto;
          display: block; }
      .homeSpotlight .spotlightContainer .cardsContainer .card .cardContent .cardDescription {
        font-family: var(--manrope);
        font-size: var(--font16);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #171a17;
        margin-bottom: 2rem; }
      .homeSpotlight .spotlightContainer .cardsContainer .card .cardContent .dateTimeBox {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem; }
        .homeSpotlight .spotlightContainer .cardsContainer .card .cardContent .dateTimeBox .dateTime p {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.2;
          letter-spacing: normal;
          text-align: left;
          color: #171a17; }
      .homeSpotlight .spotlightContainer .cardsContainer .card .cardImage {
        width: 100%; }
        .homeSpotlight .spotlightContainer .cardsContainer .card .cardImage img {
          height: 27rem;
          width: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 1.5rem; }
      .homeSpotlight .spotlightContainer .cardsContainer .card .btnBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem; }
        .homeSpotlight .spotlightContainer .cardsContainer .card .btnBox a {
          width: 100%; }

.homeStories {
  padding-bottom: var(--paddingB8); }
  .homeStories.sectionWrapper .storiesContainer {
    border-radius: 6rem;
    background-image: linear-gradient(123deg, #992035 3%, #590a18 98%);
    padding: 6rem;
    position: relative;
    overflow: hidden; }
    .homeStories.sectionWrapper .storiesContainer .storiesShape {
      position: absolute;
      right: -30rem;
      top: -2rem;
      width: auto; }
    .homeStories.sectionWrapper .storiesContainer .headContainer {
      display: flex;
      justify-content: space-between;
      gap: 4rem;
      margin-bottom: 4rem;
      position: relative; }
      .homeStories.sectionWrapper .storiesContainer .headContainer h2 {
        font-family: var(--nunito);
        font-size: var(--font48);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.96px;
        text-align: left;
        color: #f1efee;
        flex-basis: 50%; }
      .homeStories.sectionWrapper .storiesContainer .headContainer .right {
        flex-basis: 50%; }
        .homeStories.sectionWrapper .storiesContainer .headContainer .right p {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #f1efee;
          margin-bottom: 2rem; }
    .homeStories.sectionWrapper .storiesContainer .sliderContainer {
      position: relative; }
      .homeStories.sectionWrapper .storiesContainer .sliderContainer .btnWrapper {
        display: flex;
        align-items: center;
        gap: 8px; }
        .homeStories.sectionWrapper .storiesContainer .sliderContainer .btnWrapper svg {
          width: 4rem;
          height: 4rem;
          cursor: pointer;
          transition: all 0.3s ease-in-out; }
          .homeStories.sectionWrapper .storiesContainer .sliderContainer .btnWrapper svg:hover circle,
          .homeStories.sectionWrapper .storiesContainer .sliderContainer .btnWrapper svg:hover path {
            opacity: 0.6;
            transition: all 0.3s ease-in-out; }
      .homeStories.sectionWrapper .storiesContainer .sliderContainer .slidesWrapper {
        display: flex;
        gap: 3.2rem;
        margin-top: 2rem; }
        .homeStories.sectionWrapper .storiesContainer .sliderContainer .slidesWrapper .slide {
          margin: 0 1rem; }
          .homeStories.sectionWrapper .storiesContainer .sliderContainer .slidesWrapper .slide .imgContainer {
            position: relative;
            margin-bottom: 1rem; }
            .homeStories.sectionWrapper .storiesContainer .sliderContainer .slidesWrapper .slide .imgContainer .tagsContainer {
              position: absolute;
              top: 1rem;
              left: 1rem;
              display: flex;
              align-items: center;
              gap: 0.6rem;
              z-index: 1; }
              .homeStories.sectionWrapper .storiesContainer .sliderContainer .slidesWrapper .slide .imgContainer .tagsContainer .cardTag {
                background-color: #f0e8e9; }
            .homeStories.sectionWrapper .storiesContainer .sliderContainer .slidesWrapper .slide .imgContainer .arrow {
              position: absolute;
              right: 0;
              bottom: 0;
              width: 7rem;
              height: 7rem;
              z-index: 1; }
            .homeStories.sectionWrapper .storiesContainer .sliderContainer .slidesWrapper .slide .imgContainer .svg {
              position: absolute;
              width: 0;
              height: 0; }
            .homeStories.sectionWrapper .storiesContainer .sliderContainer .slidesWrapper .slide .imgContainer img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
          .homeStories.sectionWrapper .storiesContainer .sliderContainer .slidesWrapper .slide .cardTextContent h4 {
            font-family: var(--manrope);
            font-size: var(--font28);
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: #f1efee;
            margin-bottom: 1rem; }
          .homeStories.sectionWrapper .storiesContainer .sliderContainer .slidesWrapper .slide .cardTextContent p {
            font-family: var(--manrope);
            font-size: var(--font16);
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #f1efee; }

.homeNetwork.sectionWrapper .networkContainer {
  padding: var(--padding8);
  display: flex;
  justify-content: space-between;
  gap: 1rem; }
  .homeNetwork.sectionWrapper .networkContainer .left {
    flex-basis: 35%; }
    .homeNetwork.sectionWrapper .networkContainer .left h2 {
      font-family: var(--nunito);
      font-size: var(--font48);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.96px;
      text-align: left;
      color: #171a17;
      margin-bottom: 2rem; }
    .homeNetwork.sectionWrapper .networkContainer .left p {
      font-family: var(--manrope);
      font-size: var(--font16);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #171a17; }
  .homeNetwork.sectionWrapper .networkContainer .right {
    flex-basis: 65%; }
    .homeNetwork.sectionWrapper .networkContainer .right .mapContainer img {
      height: 100%;
      width: 100%; }

.homeImpact {
  position: relative;
  margin: var(--padding8); }
  .homeImpact.sectionWrapper .impactContainer h2 {
    font-family: var(--nunito);
    font-size: var(--font48);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.96px;
    text-align: left;
    color: #171a17;
    margin-bottom: 2.4rem; }
  .homeImpact.sectionWrapper .impactContainer .rightImg {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    max-width: 35%; }
  .homeImpact.sectionWrapper .impactContainer .impactCardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    width: 75%;
    position: relative; }
    .homeImpact.sectionWrapper .impactContainer .impactCardsContainer .card {
      padding: 2.4rem;
      border-radius: 1.5rem;
      border: solid 0.5px rgba(23, 26, 23, 0.5);
      background-color: #fff; }
      .homeImpact.sectionWrapper .impactContainer .impactCardsContainer .card img {
        height: 3.2rem;
        width: auto;
        margin-bottom: 2.4rem; }
      .homeImpact.sectionWrapper .impactContainer .impactCardsContainer .card h3 {
        font-family: var(--manrope);
        font-size: var(--font36);
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.28;
        letter-spacing: normal;
        text-align: left;
        color: #171a17;
        margin-bottom: 0.8rem; }
      .homeImpact.sectionWrapper .impactContainer .impactCardsContainer .card p {
        font-family: var(--manrope);
        font-size: var(--font16);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: rgba(23, 26, 23, 0.8); }

.homeEvents {
  position: relative;
  padding-top: 4rem; }
  .homeEvents .waveImg {
    position: absolute;
    left: -1.5rem;
    top: 0;
    z-index: 0;
    max-width: 100%; }
  .homeEvents .eventsContainer {
    padding: var(--padding8);
    position: relative; }
    .homeEvents .eventsContainer .headContainer {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 2rem; }
      .homeEvents .eventsContainer .headContainer h2 {
        font-family: var(--nunito);
        font-size: var(--font48);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.96px;
        text-align: left;
        color: #171a17; }
    .homeEvents .eventsContainer .eventsTabConatiner {
      display: flex;
      justify-content: flex-end;
      gap: 2rem;
      margin-bottom: 2rem; }
      .homeEvents .eventsContainer .eventsTabConatiner .eventBtn {
        padding: 2rem 4rem;
        border-radius: 4rem;
        font-family: var(--manrope);
        font-size: var(--font16);
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: normal;
        color: #171a17;
        transition: all 0.3s ease-in-out;
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer; }
        .homeEvents .eventsContainer .eventsTabConatiner .eventBtn:hover {
          background-color: #0d3b66;
          color: #f1efee; }
        .homeEvents .eventsContainer .eventsTabConatiner .eventBtn.active {
          color: #f1efee;
          background-color: #0d3b66; }
    .homeEvents .eventsContainer .eventsCardsContainer {
      display: flex;
      justify-content: space-between;
      gap: 2.5rem;
      padding: 2rem 0; }
      .homeEvents .eventsContainer .eventsCardsContainer .card {
        padding: 3.2rem;
        border-radius: 15px;
        border: solid 0.5px rgba(23, 26, 23, 0.5);
        background-color: #fff; }
        .homeEvents .eventsContainer .eventsCardsContainer .card img {
          height: 6rem;
          width: auto;
          margin-bottom: 2rem; }
        .homeEvents .eventsContainer .eventsCardsContainer .card .tagsContainer {
          display: flex;
          align-items: center;
          gap: 0.6rem;
          margin-bottom: 2rem; }
        .homeEvents .eventsContainer .eventsCardsContainer .card .cardContent h5 {
          font-family: var(--manrope);
          font-size: var(--font28);
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.43;
          letter-spacing: normal;
          text-align: left;
          color: #171a17;
          margin-bottom: 1rem; }
        .homeEvents .eventsContainer .eventsCardsContainer .card .cardContent .dateTime {
          margin-bottom: 1.6rem; }
          .homeEvents .eventsContainer .eventsCardsContainer .card .cardContent .dateTime p {
            font-family: var(--manrope);
            font-size: var(--font16);
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            text-align: left;
            color: rgba(23, 26, 23, 0.8); }
        .homeEvents .eventsContainer .eventsCardsContainer .card .cardContent .cardDescription {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.8);
          margin-bottom: 2.4rem; }
        .homeEvents .eventsContainer .eventsCardsContainer .card .btnBox .maroonBtn {
          width: 100%; }
    .homeEvents .eventsContainer .viewMoreBox {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 2.4rem; }

.ourWork.sectionWrapper .ourWorkContainer .headContainer h2 {
  font-family: var(--nunito);
  font-size: var(--font64);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.28px;
  text-align: left;
  color: #171a17;
  margin-bottom: 1rem; }

.ourWork.sectionWrapper .ourWorkContainer .headContainer p {
  font-family: var(--manrope);
  font-size: var(--font16);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: rgba(23, 26, 23, 0.8); }

.ourWork.sectionWrapper .ourWorkContainer .listingContainer {
  padding: var(--padding8);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6vw; }
  .ourWork.sectionWrapper .ourWorkContainer .listingContainer a .block img {
    height: auto;
    width: 100%;
    margin-bottom: 2rem; }
  .ourWork.sectionWrapper .ourWorkContainer .listingContainer a .block h5 {
    font-family: var(--manrope);
    font-size: var(--font28);
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #171a17; }

.about_banner {
  display: flex;
  padding-top: 10rem;
  background-image: linear-gradient(113deg, #992035 2%, #590a18 99%), linear-gradient(112deg, #0d3b66 0%, #2c7bc4 100%); }
  .about_banner .c1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%; }
    .about_banner .c1 h1 {
      font-family: var(--nunito);
      font-size: var(--font64);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -1.28px;
      text-align: left;
      color: #f1efee;
      margin-bottom: 1rem; }
    .about_banner .c1 p {
      font-family: var(--manrope);
      font-size: var(--font16);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: rgba(241, 239, 238, 0.8);
      margin-bottom: 3.2rem; }
    .about_banner .c1 .links {
      display: flex;
      gap: 1.6rem; }
      .about_banner .c1 .links a:nth-child(2) {
        border: 1px solid #fff !important; }
        .about_banner .c1 .links a:nth-child(2):hover {
          border: 1px solid transparent !important; }
  .about_banner .c2 {
    width: 50%;
    display: flex; }
    .about_banner .c2 img {
      width: 100%;
      height: auto; }

.aboutOurApproach {
  display: flex;
  padding: var(--padding8);
  justify-content: center;
  background-color: #f1efee; }
  .aboutOurApproach .head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 40%;
    margin: 0 auto;
    margin-bottom: 2.4rem; }
    .aboutOurApproach .head h1 {
      font-family: var(--nunito);
      font-size: var(--font48);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.96px;
      text-align: center;
      color: #171a17; }
    .aboutOurApproach .head p {
      font-family: var(--manrope);
      font-size: var(--font16);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: rgba(23, 26, 23, 0.8); }
  .aboutOurApproach .content {
    display: flex;
    gap: 2rem; }
    .aboutOurApproach .content .c1 {
      display: flex;
      flex-direction: column;
      gap: 23%;
      justify-content: center;
      width: 30%; }
      .aboutOurApproach .content .c1 p {
        font-family: var(--manrope);
        font-size: var(--font20);
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #171a17; }
    .aboutOurApproach .content .c2 {
      display: flex;
      width: 40%; }
      .aboutOurApproach .content .c2 img {
        width: 100%;
        height: auto; }
    .aboutOurApproach .content .c3 {
      display: flex;
      flex-direction: column;
      gap: 44%;
      justify-content: center;
      width: 30%; }
      .aboutOurApproach .content .c3 p {
        font-family: var(--manrope);
        font-size: var(--font20);
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #171a17; }

.aboutKeyPillars {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding8); }
  .aboutKeyPillars .head {
    align-self: flex-start;
    margin-bottom: 3.2rem; }
    .aboutKeyPillars .head h1 {
      font-family: var(--nunito);
      font-size: var(--font48);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.96px;
      text-align: left;
      color: #171a17; }
  .aboutKeyPillars .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4.3rem; }
    .aboutKeyPillars .content .block {
      display: flex;
      flex-direction: column; }
      .aboutKeyPillars .content .block img {
        width: fit-content;
        height: auto;
        margin-bottom: 3.2rem; }
      .aboutKeyPillars .content .block h1 {
        font-family: var(--manrope);
        font-size: var(--font28);
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #171a17;
        margin-bottom: 0.8rem; }
      .aboutKeyPillars .content .block p {
        font-family: var(--manrope);
        font-size: var(--font16);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: rgba(23, 26, 23, 0.8); }

.aboutBuildingBridges {
  max-width: 55%;
  padding: var(--padding8); }
  .aboutBuildingBridges .sectionWrapper h1 {
    font-family: var(--nunito);
    font-size: var(--font48);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.96px;
    text-align: left;
    color: #171a17;
    margin-bottom: 2.4rem; }
  .aboutBuildingBridges .sectionWrapper p {
    font-family: var(--manrope);
    font-size: var(--font16);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #171a17; }

.aboutTextImageBlock {
  padding: var(--padding4); }
  .aboutTextImageBlock .sectionWrapper .head {
    margin-bottom: 2.4rem; }
    .aboutTextImageBlock .sectionWrapper .head h1 {
      font-family: var(--manrope);
      font-size: var(--font28);
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #171a17; }
  .aboutTextImageBlock .sectionWrapper .content {
    display: flex;
    gap: 2.5rem; }
  .aboutTextImageBlock .sectionWrapper .c1 {
    width: 60%;
    border-radius: 1.5rem;
    border: solid 1px rgba(13, 59, 102, 0.5);
    padding: 2.4rem; }
    .aboutTextImageBlock .sectionWrapper .c1 img {
      max-width: 7rem;
      height: auto;
      margin-bottom: 2.4rem; }
    .aboutTextImageBlock .sectionWrapper .c1 h1 {
      font-family: var(--manrope);
      font-size: var(--font20);
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #171a17;
      margin-bottom: 0.8rem; }
    .aboutTextImageBlock .sectionWrapper .c1 p {
      font-family: var(--manrope);
      font-size: var(--font16);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #171a17; }
  .aboutTextImageBlock .sectionWrapper .c2 {
    width: 40%; }
    .aboutTextImageBlock .sectionWrapper .c2 img {
      width: 100%;
      height: 100%;
      border-radius: 1.5rem;
      object-fit: cover; }

.aboutTextImageBlock.flip {
  padding: var(--padding4); }
  .aboutTextImageBlock.flip .sectionWrapper .head {
    margin-bottom: 2.4rem; }
    .aboutTextImageBlock.flip .sectionWrapper .head h1 {
      font-family: var(--manrope);
      font-size: var(--font28);
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #171a17; }
  .aboutTextImageBlock.flip .sectionWrapper .content {
    display: flex;
    gap: 2.5rem;
    flex-direction: row-reverse; }
  .aboutTextImageBlock.flip .sectionWrapper .c1 {
    width: 60%;
    border-radius: 1.5rem;
    border: solid 1px rgba(13, 59, 102, 0.5);
    padding: 2.4rem; }
    .aboutTextImageBlock.flip .sectionWrapper .c1 img {
      max-width: 7rem;
      height: auto;
      margin-bottom: 2.4rem; }
    .aboutTextImageBlock.flip .sectionWrapper .c1 h1 {
      font-family: var(--manrope);
      font-size: var(--font20);
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #171a17;
      margin-bottom: 0.8rem; }
    .aboutTextImageBlock.flip .sectionWrapper .c1 p {
      font-family: var(--manrope);
      font-size: var(--font16);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #171a17; }
  .aboutTextImageBlock.flip .sectionWrapper .c2 {
    width: 40%; }
    .aboutTextImageBlock.flip .sectionWrapper .c2 img {
      width: 100%;
      height: 100%;
      border-radius: 1.5rem;
      object-fit: cover; }

.aboutOurVision {
  display: flex;
  padding: var(--padding8); }
  .aboutOurVision .sectionWrapper {
    display: flex;
    gap: 10%; }
    .aboutOurVision .sectionWrapper .c1 {
      display: flex;
      flex-direction: column;
      width: 50%; }
      .aboutOurVision .sectionWrapper .c1 h1 {
        font-family: var(--nunito);
        font-size: var(--font48);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.96px;
        text-align: left;
        color: #171a17;
        margin-bottom: 2.4rem; }
      .aboutOurVision .sectionWrapper .c1 p {
        font-family: var(--manrope);
        font-size: var(--font16);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: rgba(23, 26, 23, 0.8); }
    .aboutOurVision .sectionWrapper .c2 {
      display: flex;
      flex-direction: column;
      width: 50%;
      align-items: center;
      justify-content: center; }
      .aboutOurVision .sectionWrapper .c2 img {
        max-width: 34rem; }

.aboutOurJourney {
  padding: var(--padding8); }
  .aboutOurJourney .sectionWrapper {
    display: flex;
    flex-direction: column; }
    .aboutOurJourney .sectionWrapper .head {
      margin-bottom: 2.4rem; }
      .aboutOurJourney .sectionWrapper .head h1 {
        font-family: var(--nunito);
        font-size: var(--font48);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.96px;
        text-align: left;
        color: #171a17; }
    .aboutOurJourney .sectionWrapper .content {
      display: flex;
      gap: 2rem; }
      .aboutOurJourney .sectionWrapper .content .block {
        width: 50%;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 2.4rem;
        border-radius: 1.5rem;
        position: relative; }
        .aboutOurJourney .sectionWrapper .content .block h1 {
          font-family: var(--manrope);
          font-size: var(--font28);
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.43;
          letter-spacing: normal;
          text-align: left;
          color: #171a17;
          margin-bottom: 1.4rem; }
        .aboutOurJourney .sectionWrapper .content .block p {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.8); }
        .aboutOurJourney .sectionWrapper .content .block .bg {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 16rem; }

.aboutMeetPeople {
  padding: var(--padding8); }
  .aboutMeetPeople .sectionWrapper {
    display: flex;
    flex-direction: column; }
    .aboutMeetPeople .sectionWrapper .head {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .aboutMeetPeople .sectionWrapper .head h1 {
        font-family: var(--nunito);
        font-size: var(--font48);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.96px;
        text-align: center;
        color: #171a17;
        margin-bottom: 2.4rem;
        width: 50rem; }
      .aboutMeetPeople .sectionWrapper .head p {
        font-family: var(--manrope);
        font-size: var(--font16);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #171a17;
        margin-bottom: 4rem;
        width: 50rem; }
    .aboutMeetPeople .sectionWrapper .content {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
      margin-bottom: 3.2rem; }
      .aboutMeetPeople .sectionWrapper .content .block {
        display: flex;
        flex-direction: column; }
        .aboutMeetPeople .sectionWrapper .content .block img {
          width: 100%;
          height: auto;
          margin-bottom: 1.6rem;
          border-radius: 1.5rem; }
        .aboutMeetPeople .sectionWrapper .content .block h1 {
          font-family: var(--manrope);
          font-size: 2.4rem;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.67;
          letter-spacing: normal;
          text-align: left;
          color: #171a17; }
        .aboutMeetPeople .sectionWrapper .content .block p {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.8); }
    .aboutMeetPeople .sectionWrapper a {
      align-self: center; }
