@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
:root {
  --black-0: #000000;
  --black-1: #020202;
  --black-2: #060606;
  --black-3: #141414;
  --black-4: #020f14;
  --white-0: #ffffff;
  --white-1: #fffbfb;
  --white-2: #f6f6f6;
  --white-3: #f0f0f0;
  --white-4: #ebf9e5;
  --maroon: #66101f;
  /* font famalies */
  --nunito: "Nunito", sans-serif;
  --manrope: "Manrope", sans-serif;
  /* font sizes */
  --font64: clamp(3.6rem, 4vw, 6.4rem);
  --font48: clamp(3.2rem, 2.8vw, 4.8rem);
  --font40: 4rem;
  --font36: 3.6rem;
  --font32: 3.2rem;
  --font24: 2.4rem;
  --font20: 2rem;
  --font18: 1.8rem;
  --font16: 1.6rem;
  --font14: 1.4rem;
  --font12: 1.2rem;
  /* Default (desktop) values */
  --padding4: 4rem 0;
  --padding8: 8rem 0;
  --padding12: 12rem 0;
  --padding16: 16rem 0;
  /* Padding bottom */
  --paddingB4: 4rem;
  --paddingB8: 8rem;
  --paddingB12: 12rem;
  /* Padding top */
  --paddingT4: 4rem;
  --paddingT8: 8rem;
  --paddingT12: 12rem;
  /* Tablet (≤ 769px) */
  /* Mobile (≤ 575px) */ }
  @media only screen and (max-width: 769px) {
    :root {
      --padding8: 6rem 0;
      --padding12: 8rem 0;
      --padding16: 12rem 0;
      --font40: 2.8rem;
      --font36: 2.4rem;
      --font32: 2.2rem;
      --font24: 2rem;
      --font20: 1.7rem;
      --font16: 1.4rem;
      --font14: 1.3rem; } }
  @media only screen and (max-width: 575px) {
    :root {
      --padding4: 3rem 0;
      --padding12: 6rem 0;
      --font48: clamp(2rem, 2vw, 4.8rem);
      --font40: 2.2rem;
      --font36: 2rem;
      --font32: 2rem;
      --font24: 1.6rem;
      --font20: 1.5rem;
      --font16: 1.3rem;
      --font14: 1.2rem;
      --font12: 1.1rem; } }

@keyframes marqueeAnim {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-50%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  font-optical-sizing: auto;
  font-style: normal; }
  @media only screen and (max-width: 991px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 769px) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 320px) {
    html {
      font-size: 50%; } }

body {
  background-color: #fff;
  color: #171a17;
  overflow-x: hidden;
  position: relative;
  font-size: 1.6rem; }

.sectionWrapper {
  margin: 0 auto;
  padding-left: 7.5vw;
  padding-right: 7.5vw;
  max-width: calc(1600px + 15vw);
  background-color: #fff; }

@media (max-width: 575px) {
  .sectionWrapper {
    margin: 0 auto;
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: calc(1400px + 10vw); } }

.maroonBtn {
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  background-color: var(--maroon);
  color: #fff;
  font-size: var(--font16);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  width: fit-content; }
  @media only screen and (max-width: 769px) {
    .maroonBtn {
      padding: 1.6rem 4rem; } }
  .maroonBtn:hover {
    background-color: #c7222a; }

.maroonTrBtn {
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  background-color: transparent;
  color: #66101f;
  border: 1px solid var(--maroon);
  font-size: var(--font16);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  width: fit-content; }
  @media only screen and (max-width: 769px) {
    .maroonTrBtn {
      padding: 1.6rem 4rem; } }
  .maroonTrBtn:hover {
    background-color: #c7222a;
    border: 1px solid #c7222a;
    color: #fff; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  border-bottom: 0.5px solid rgba(23, 26, 23, 0.5); }
  .header .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    padding: 2rem 0;
    background-color: #fff; }
    @media only screen and (max-width: 1100px) {
      .header .headerContainer {
        gap: 2rem; } }
    @media only screen and (max-width: 769px) {
      .header .headerContainer {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 4rem;
        border-radius: 0;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out; } }
    @media only screen and (max-width: 769px) {
      .header .headerContainer .headerLogo {
        margin-bottom: 4rem;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between; } }
    .header .headerContainer .headerLogo a {
      text-decoration: none; }
      .header .headerContainer .headerLogo a img {
        height: 2.8rem;
        width: auto;
        display: block; }
    .header .headerContainer .headerNav ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 3.2rem; }
      @media only screen and (max-width: 850px) {
        .header .headerContainer .headerNav ul {
          gap: 2.4rem; } }
      @media only screen and (max-width: 769px) {
        .header .headerContainer .headerNav ul {
          flex-direction: column;
          align-items: flex-start; } }
      .header .headerContainer .headerNav ul li {
        cursor: pointer;
        position: relative;
        /* Ensure li is relative so the dropdown is positioned correctly */
        /* Dropdown styling */
        /* Fix: Show dropdown only when the specific parent li is hovered */
        /* Dropdown list items */ }
        @media only screen and (max-width: 769px) {
          .header .headerContainer .headerNav ul li {
            gap: 1rem; } }
        .header .headerContainer .headerNav ul li .dropNav {
          display: flex;
          align-items: center;
          gap: 5px; }
          @media only screen and (max-width: 769px) {
            .header .headerContainer .headerNav ul li .dropNav {
              gap: 1rem; } }
        .header .headerContainer .headerNav ul li a {
          font-size: var(--font16);
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #000;
          text-decoration: none; }
          @media only screen and (max-width: 769px) {
            .header .headerContainer .headerNav ul li a {
              font-size: 2.4rem; } }
          .header .headerContainer .headerNav ul li a:hover {
            opacity: 0.6; }
            @media only screen and (max-width: 769px) {
              .header .headerContainer .headerNav ul li a:hover {
                opacity: 1; } }
        .header .headerContainer .headerNav ul li span {
          display: flex; }
          .header .headerContainer .headerNav ul li span svg {
            width: 1.2rem;
            height: 1.2rem;
            transition: all 0.3s ease-in-out; }
            @media only screen and (max-width: 769px) {
              .header .headerContainer .headerNav ul li span svg {
                width: 1.5rem;
                height: 1.5rem; } }
      .header .headerContainer .headerNav ul li:hover .dropNav a {
        opacity: 0.6; }
        @media only screen and (max-width: 769px) {
          .header .headerContainer .headerNav ul li:hover .dropNav a {
            opacity: 1; } }
      .header .headerContainer .headerNav ul li:hover span svg {
        transform: rotate(180deg);
        opacity: 0.6; }
        @media only screen and (max-width: 769px) {
          .header .headerContainer .headerNav ul li:hover span svg {
            transform: none; } }

.homeBanner.heroMarginTop .homeBannerContainer {
  background: transparent; }
  .homeBanner.heroMarginTop .homeBannerContainer .homeBannerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem; }
    .homeBanner.heroMarginTop .homeBannerContainer .homeBannerContent .topTitle {
      display: flex;
      align-items: center;
      gap: 2.6rem; }
      .homeBanner.heroMarginTop .homeBannerContainer .homeBannerContent .topTitle h2 {
        font-family: var(--manrope);
        font-size: var(--font16);
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: 4px;
        text-align: left;
        color: #171a17;
        text-transform: uppercase; }
      .homeBanner.heroMarginTop .homeBannerContainer .homeBannerContent .topTitle img {
        height: 4rem;
        width: 4rem;
        object-fit: contain;
        display: block; }
    .homeBanner.heroMarginTop .homeBannerContainer .homeBannerContent h1 {
      font-family: var(--nunito);
      font-size: var(--font64);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -1.28px;
      text-align: center;
      color: #171a17; }
      .homeBanner.heroMarginTop .homeBannerContainer .homeBannerContent h1 span {
        white-space: nowrap; }
    .homeBanner.heroMarginTop .homeBannerContainer .homeBannerContent p {
      font-family: var(--manrope);
      font-size: var(--font16);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: rgba(23, 26, 23, 0.8);
      width: 80%; }

.homeBanner.heroMarginTop .homeBannerImage {
  position: relative;
  width: 100%; }
  .homeBanner.heroMarginTop .homeBannerImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: translateY(-8rem);
    position: relative;
    z-index: -1; }
  .homeBanner.heroMarginTop .homeBannerImage .bannerCard {
    border-radius: 1.5rem;
    padding: 2.6rem;
    border: solid 0.5px rgba(23, 26, 23, 0.5);
    background-color: #fff;
    position: absolute;
    right: 7.5vw;
    bottom: 8.5rem; }
    @media (max-width: 575px) {
      .homeBanner.heroMarginTop .homeBannerImage .bannerCard {
        right: 5vw; } }
    .homeBanner.heroMarginTop .homeBannerImage .bannerCard .pointsWrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      margin-bottom: 2rem; }
      .homeBanner.heroMarginTop .homeBannerImage .bannerCard .pointsWrapper .point p {
        font-family: var(--manrope);
        font-size: var(--font14);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: left;
        color: #171a17; }
      .homeBanner.heroMarginTop .homeBannerImage .bannerCard .pointsWrapper .point h4 {
        font-family: var(--nunito);
        font-size: var(--font36);
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.8px;
        text-align: left;
        color: #0d3b66; }
    .homeBanner.heroMarginTop .homeBannerImage .bannerCard .btnWrapper a {
      width: 100%; }

.homeMarquee .homeMarqueeContainer {
  overflow: hidden;
  padding-bottom: var(--paddingB8); }
  .homeMarquee .homeMarqueeContainer .marquee {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-bottom: 0.5px solid rgba(23, 26, 23, 0.5);
    border-top: 0.5px solid rgba(23, 26, 23, 0.5);
    display: flex;
    align-items: center;
    gap: 4rem; }
    .homeMarquee .homeMarqueeContainer .marquee .marqueeContent {
      padding: 2.6rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      white-space: nowrap;
      will-change: transform;
      animation: marqueeAnim linear infinite; }
      .homeMarquee .homeMarqueeContainer .marquee .marqueeContent img {
        height: 3rem;
        width: auto;
        display: block; }
      .homeMarquee .homeMarqueeContainer .marquee .marqueeContent p {
        font-family: var(--nunito);
        font-size: var(--font32);
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.06;
        letter-spacing: -0.64px;
        text-align: left;
        color: #171a17; }
