.about_banner {
  display: flex;
  padding-top: 10rem;
  background-image: linear-gradient(113deg, #992035 2%, #590a18 99%),
    linear-gradient(112deg, #0d3b66 0%, #2c7bc4 100%);

  .c1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 5rem 0;
    h1 {
      font-family: var(--nunito);
      font-size: var(--font64);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -1.28px;
      text-align: left;
      color: #f1efee;
      margin-bottom: 1rem;
    }
    p {
      font-family: var(--manrope);
      font-size: var(--font16);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: rgba(241, 239, 238, 0.8);
      margin-bottom: 3.2rem;
    }
    .links {
      display: flex;
      gap: 1.6rem;

      a {
        &:nth-child(2) {
          border: 1px solid #fff !important;
          &:hover {
            border: 1px solid transparent !important;
          }
        }
      }
    }
  }
  .c2 {
    width: 50%;
    display: flex;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.aboutOurApproach {
  display: flex;
  padding: var(--padding8);
  justify-content: center;
  background-color: #f1efee;
  .head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 40%;
    margin: 0 auto;
    margin-bottom: 2.4rem;
    h1 {
      font-family: var(--nunito);
      font-size: var(--font48);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.96px;
      text-align: center;
      color: #171a17;
    }
    p {
      font-family: var(--manrope);
      font-size: var(--font16);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: rgba(23, 26, 23, 0.8);
    }
  }

  .content {
    display: flex;
    gap: 2rem;
    .c1 {
      display: flex;
      flex-direction: column;
      gap: 23%;
      justify-content: center;
      width: 30%;
      p {
        font-family: var(--manrope);
        font-size: var(--font20);
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #171a17;
      }
    }

    .c2 {
      display: flex;
      width: 40%;
      img {
        width: 100%;
        height: auto;
      }
    }
    .c3 {
      display: flex;
      flex-direction: column;
      gap: 44%;
      justify-content: center;
      width: 30%;
      p {
        font-family: var(--manrope);
        font-size: var(--font20);
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #171a17;
      }
    }
  }
}

.aboutKeyPillars {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding8);
  .head {
    align-self: flex-start;
    margin-bottom: 3.2rem;
    h1 {
      font-family: var(--nunito);
      font-size: var(--font48);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.96px;
      text-align: left;
      color: #171a17;
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4.3rem;

    .block {
      display: flex;
      flex-direction: column;

      img {
        width: fit-content;
        height: auto;
        margin-bottom: 3.2rem;
      }

      h1 {
        font-family: var(--manrope);
        font-size: var(--font28);
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #171a17;
        margin-bottom: 0.8rem;
      }
      p {
        font-family: var(--manrope);
        font-size: var(--font16);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: rgba(23, 26, 23, 0.8);
      }
    }
  }
}

.aboutBuildingBridges {
  max-width: 55%;
  padding: var(--padding8);
  .sectionWrapper {
    h1 {
      font-family: var(--nunito);
      font-size: var(--font48);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.96px;
      text-align: left;
      color: #171a17;
      margin-bottom: 2.4rem;
    }
    p {
      font-family: var(--manrope);
      font-size: var(--font16);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #171a17;
    }
  }
}

.aboutTextImageBlock {
  padding: var(--padding4);
  .sectionWrapper {
    .head {
      margin-bottom: 2.4rem;
      h1 {
        font-family: var(--manrope);
        font-size: var(--font28);
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #171a17;
      }
    }
    .content {
      display: flex;
      gap: 2.5rem;
    }
    .c1 {
      width: 60%;
      border-radius: 1.5rem;
      border: solid 1px rgba(13, 59, 102, 0.5);
      padding: 2.4rem;
      img {
        max-width: 7rem;
        height: auto;
        margin-bottom: 2.4rem;
      }

      h1 {
        font-family: var(--manrope);
        font-size: var(--font20);
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #171a17;
        margin-bottom: 0.8rem;
      }
      p {
        font-family: var(--manrope);
        font-size: var(--font16);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #171a17;
      }
    }
    .c2 {
      width: 40%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
        object-fit: cover;
      }
    }
  }
}

.aboutTextImageBlock.flip {
  padding: var(--padding4);
  .sectionWrapper {
    .head {
      margin-bottom: 2.4rem;
      h1 {
        font-family: var(--manrope);
        font-size: var(--font28);
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #171a17;
      }
    }
    .content {
      display: flex;
      gap: 2.5rem;
      flex-direction: row-reverse;
    }
    .c1 {
      width: 60%;
      border-radius: 1.5rem;
      border: solid 1px rgba(13, 59, 102, 0.5);
      padding: 2.4rem;
      img {
        max-width: 7rem;
        height: auto;
        margin-bottom: 2.4rem;
      }

      h1 {
        font-family: var(--manrope);
        font-size: var(--font20);
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #171a17;
        margin-bottom: 0.8rem;
      }
      p {
        font-family: var(--manrope);
        font-size: var(--font16);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #171a17;
      }
    }
    .c2 {
      width: 40%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
        object-fit: cover;
      }
    }
  }
}

.aboutOurVision {
  display: flex;
  padding: var(--padding8);
  .sectionWrapper {
    display: flex;
    gap: 10%;

    .c1 {
      display: flex;
      flex-direction: column;
      width: 50%;

      h1 {
        font-family: var(--nunito);
        font-size: var(--font48);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.96px;
        text-align: left;
        color: #171a17;
        margin-bottom: 2.4rem;
      }
      p {
        font-family: var(--manrope);
        font-size: var(--font16);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: rgba(23, 26, 23, 0.8);
      }
    }
    .c2 {
      display: flex;
      flex-direction: column;
      width: 50%;
      align-items: center;
      justify-content: center;

      img {
        max-width: 34rem;
      }
    }
  }
}

.aboutOurJourney {
  padding: var(--padding8);
  .sectionWrapper {
    display: flex;
    flex-direction: column;
    .head {
      margin-bottom: 2.4rem;
      h1 {
        font-family: var(--nunito);
        font-size: var(--font48);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.96px;
        text-align: left;
        color: #171a17;
      }
    }

    .content {
      display: flex;
      gap: 2rem;
      .block {
        width: 50%;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 2.4rem;
        border-radius: 1.5rem;

        position: relative;
        h1 {
          font-family: var(--manrope);
          font-size: var(--font28);
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.43;
          letter-spacing: normal;
          text-align: left;
          color: #171a17;
          margin-bottom: 1.4rem;
        }
        p {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.8);
        }

        .bg {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 16rem;
        }
      }
    }
  }
}

.aboutMeetPeople {
  padding: var(--padding8);
  .sectionWrapper {
    display: flex;
    flex-direction: column;

    .head {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-family: var(--nunito);
        font-size: var(--font48);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.96px;
        text-align: center;
        color: #171a17;
        margin-bottom: 2.4rem;
        width: 50rem;
      }
      p {
        font-family: var(--manrope);
        font-size: var(--font16);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: #171a17;
        margin-bottom: 4rem;
        width: 50rem;
      }
    }

    .content {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
      margin-bottom: 3.2rem;
      .block {
        display: flex;
        flex-direction: column;
        img {
          width: 100%;
          height: auto;
          margin-bottom: 1.6rem;
          border-radius: 1.5rem;
        }
        h1 {
          font-family: var(--manrope);
          font-size: 2.4rem;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.67;
          letter-spacing: normal;
          text-align: left;
          color: #171a17;
        }
        p {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.8);
        }
      }
    }

    a {
      align-self: center;
    }
  }
}

// !mobile

@media (max-width: 768px) {
  .about_banner {
    flex-direction: column-reverse;

    .c1 {
      width: 100%;

      h1 {
        margin-bottom: 0.8rem;
        font-size: 2.4rem;
      }

      p {
        margin-bottom: 2.4rem;
        font-size: 1.2rem;
      }

      .links {
        gap: 0.9rem;
        a {
          padding: 2.3rem 3rem;
        }
      }
    }
    .c2 {
      width: 100%;
      justify-content: flex-end;
      img {
        width: 60%;
        margin-bottom: -8rem;
      }
    }
  }

  .aboutOurApproach {
    .head {
      max-width: 100%;
      margin-bottom: 2.4rem;
      h1 {
        margin-bottom: 1rem;
        font-size: 2.4rem;
      }
      p {
        width: 90%;
        font-size: 1.2rem;
        margin-bottom: 1.6rem;
      }
    }

    .content {
      display: flex;
      flex-direction: column;

      .c1,
      .c2,
      .c3 {
        width: 100%;
        gap: 2.4rem;
        p {
          font-size: 2rem;
          display: flex;
          gap: 3rem;
          align-items: center;
          svg {
            width: 2.1rem !important;
            height: 100%;
          }
        }
      }
    }
  }

  .aboutKeyPillars {
    .sectionWrapper {
      .head {
        margin-bottom: 2.4rem;
        h1 {
          font-size: 2.4rem;
        }
      }
      .content {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.7rem;
        row-gap: 3.2rem;
        .block {
          img {
            max-width: 5rem;
            height: auto;
            object-fit: contain;
            aspect-ratio: 1/1;
          }
          h1 {
            font-size: 1.6rem;
            margin-bottom: 0.8rem;
          }
          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .aboutBuildingBridges {
    max-width: 100%;
    .sectionWrapper {
      h1 {
        margin-bottom: 0.8rem;
        font-size: 2.4rem;
      }
      p {
        width: 90%;
        font-size: 1.2rem;
      }
    }
  }

  .aboutTextImageBlock {
    .sectionWrapper {
      .head {
        margin-bottom: 2.4rem;
        h1 {
          font-size: 2rem;
        }
      }
      .content {
        gap: 1.6rem;
        flex-direction: column-reverse;
        .c1 {
          width: 100%;
          padding: 1.6rem;
          img {
            max-width: 3.6rem;
            margin-bottom: 1.6rem;
          }
          h1 {
            font-size: 1.6rem;
            margin-bottom: 0.8rem;
          }
          p {
            font-size: 1.2rem;
          }
        }
        .c2 {
          width: 100%;
        }
      }
    }
  }

  .aboutTextImageBlock.flip {
    .sectionWrapper {
      .head {
        margin-bottom: 2.4rem;
        h1 {
          font-size: 2rem;
        }
      }
      .content {
        gap: 1.6rem;
        flex-direction: column-reverse;
        .c1 {
          width: 100%;
          padding: 1.6rem;
          img {
            max-width: 3.6rem;
            margin-bottom: 1.6rem;
          }
          h1 {
            font-size: 1.6rem;
            margin-bottom: 0.8rem;
          }
          p {
            font-size: 1.2rem;
          }
        }
        .c2 {
          width: 100%;
        }
      }
    }
  }

  .aboutOurVision {
    .sectionWrapper {
      flex-direction: column;
      .c1 {
        width: 100%;
        h1 {
          margin-bottom: 2.4rem;
          width: 50%;
          font-size: 2.4rem;
        }
        img {
          width: 50%;
          align-self: center;
          margin-bottom: 2.4rem;
        }
        p {
          font-size: 1.2rem;
          width: 80%;
        }
      }
      .c2 {
        width: 100%;
        display: none;
      }
    }
  }

  .aboutOurJourney {
    .sectionWrapper {
      .head {
        width: 40%;
        h1 {
          font-size: 2.4rem;
          margin-bottom: 2.4rem;
        }
      }

      .content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .block {
          width: 100%;
          padding: 3rem 1.6rem;

          .bg {
            width: 8.5rem;
          }
          h1 {
            margin-bottom: 0.8rem;
            font-size: 1.6rem;
          }
          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .aboutMeetPeople {
    .sectionWrapper {
      .head {
        width: 70%;
        h1 {
          width: unset;
          text-align: left;
          margin-bottom: 0.8rem;
          font-size: 2.4rem;
        }
        p {
          width: unset;
          text-align: left;
          margin-bottom: 3.2rem;
          font-size: 1.2rem;
        }
      }

      .nav {
        display: flex;
        gap: 0.8rem;
        margin-bottom: 1.6rem;

        svg {
          width: 2.8rem;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
        }
      }

      .content {
        grid-template-columns: repeat(1, 1fr);

        .slick-slide {
          margin-right: 20px !important; /* Adjust gap as needed */
        }

        .slick-list {
          margin-right: -20px !important; /* Negative of the above to fix layout */
        }

        .block {
          img {
            margin-bottom: 1.6rem;
          }
          h1 {
            margin-bottom: 0.4rem;
            font-size: 2rem;
          }
          p{
            font-size: 1.2rem;
          }
          a{
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  // !=======================
}
