.event_Banner {
  position: relative;
  display: flex;
  flex-direction: column;
  &.sectionWrapper {
    position: relative;
  }

  .head {
    position: relative;

    margin-bottom: 2.4rem;

    .bg {
      position: absolute;
      top: 0;
      right: 0;
      object-fit: contain;
      max-width: 74rem;
      // width: 100%;
    }

    h1 {
      font-family: var(--nunito);
      font-size: var(--font48);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.96px;
      text-align: left;
      color: #171a17;
      margin-bottom: 0.8rem;
    }
    p {
      font-family: var(--manrope);
      font-size: var(--font16);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: rgba(23, 26, 23, 0.8);
      max-width: 40%;
    }
  }

  .filter {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 1rem;
    align-items: center;
    //   gap: 2rem;
    margin-bottom: 4rem;
    transition: all 0.3s ease-in-out;
    h1 {
      font-family: var(--manrope);
      font-size: var(--font16);
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.63;
      letter-spacing: normal;
      text-align: left;
      color: #171a17;
      padding: 2rem 4rem;
      border-radius: 4rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &.active {
        border-radius: 4rem;
        background-color: #0d3b66;
        color: #f1efee;
      }
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 6rem;
    column-gap: 2rem;
    margin-bottom: 5rem;
    .block {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      padding: 3rem 1.6rem;
      border-radius: 1.5rem;
      border: solid 0.5px rgba(23, 26, 23, 0.5);

      .image {
        position: relative;

        .tag {
          display: flex;
          gap: 0.7rem;
          margin-bottom: 2.5rem;
          h1 {
            background-color: #f0e8e9;
          }
        }

        img {
          // width: 100%;
          height: auto;
        //   border-radius: 1.5rem;
          object-fit: cover;
          margin-bottom: 2.8rem;
          max-width: 8rem;
        }
      }

      .content {
        display: flex;
        flex-direction: column;

        h1 {
          font-family: var(--manrope);
          font-size: var(--font28);
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.2;
          letter-spacing: normal;
          text-align: left;
          color: #171a17;
          margin-bottom: 1rem;
          max-width: 80%;
        }

        h2 {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.8);
          margin-bottom: 1.4rem;
          text-transform: uppercase;
        }

        p {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
        color: rgba(23, 26, 23, 0.8);
          margin-bottom: 1.6rem;
          max-width: 80%;
        }
        a {
          width: 100%;
        }
      }
    }
  }

  .viewMore {
    align-self: center;
    cursor: pointer;
    margin-bottom: 5rem;
  }
}
