// Home Network Section (Groundwork in Action)
.ourWork {
  &.sectionWrapper {
    // Main container
    .ourWorkContainer {
      // Header container
      .headContainer {
        h2 {
          font-family: var(--nunito);
          font-size: var(--font64);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: -1.28px;
          text-align: left;
          color: #171a17;
          margin-bottom: 1rem;
        }

        p {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.8);
        }
      }

      // Projects listing container
      .listingContainer {
        // Individual project block
        padding: var(--padding4);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.4rem;
        row-gap: 4.8rem;

        @media only screen and (max-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
          row-gap: 4rem;
        }

        @media only screen and (max-width: 400px) {
          grid-template-columns: repeat(1, 1fr);
          row-gap: 4rem;
        }

        a {
          .block {
            // Project image

            .imgBox {
              overflow: hidden;
              margin-bottom: 1rem;
              border-radius: 1.5rem;
              display: flex;
              position: relative;

              .image {
                height: auto;
                width: 100%;
                transition: all 0.3s ease-in-out;
              }

              .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: auto;
                height: 18rem;
                z-index: 1;

                @media only screen and (max-width: 1400px) {
                  height: 14rem;
                }
                @media only screen and (max-width: 768px) {
                  height: 10rem;
                }
                @media only screen and (max-width: 575px) {
                  height: 8rem;
                }
              }
            }

            // Project title
            h5 {
              font-family: var(--manrope);
              font-size: var(--font28);
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.2;
              letter-spacing: normal;
              text-align: left;
              color: #171a17;
              margin-bottom: 1rem;
            }

            p {
              font-family: var(--manrope);
              font-size: var(--font16);
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: normal;
              text-align: left;
              color: #171a17;
            }

            // Hover effects can be added here
            &:hover {
              img {
              }
              h5 {
              }
            }
          }
        }

        a:hover .image {
          transform: scale(1.1);
        }
      }
    }
  }
}
