.eventSingle_banner {
  position: relative;
  padding-bottom: 5rem;
  .container {
    display: flex;
    gap: 5%;
    border-bottom: 1px solid rgba(23, 26, 23, 0.5);
    padding-bottom: 6rem;
    position: relative;
    z-index: 6;
  }

  .c1 {
    width: 45%;
    display: flex;
    flex-direction: column;

    h1 {
      font-family: var(--nunito);
      font-size: var(--font48);
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #171a17;
      margin-bottom: 1.6rem;
      max-width: 85%;
    }
    p {
      font-family: var(--manrope);
      font-size: var(--font16);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #171a17;
      margin-bottom: 3.2rem;
      max-width: 85%;
    }
    a {
      font-family: var(--manrope);
      font-size: var(--font16);
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.63;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
    }
  }
  .c2 {
    width: 45%;
    display: flex;
    flex-direction: column;

    .eventInfo {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4rem;
      row-gap: 2.4rem;
      margin-bottom: 2.4rem;

      .box {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        h1 {
          font-family: var(--manrope);
          font-size: var(--font20);
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.4;
          letter-spacing: normal;
          text-align: left;
          color: #171a17;
        }
        p {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #171a17;
        }
      }
    }

    .social {
      display: flex;
      gap: 2rem;
      align-items: center;

      a {
        svg {
          max-width: 3.6rem;
        }

        transition: all 0.3s ease-in-out;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.eventSingle_agenda {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 5rem;

  .bg {
    position: absolute;
    right: 0;
    top: -50%;
    max-width: 83rem;
  }

  .head {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.6rem;
    h1 {
      font-family: var(--manrope);
      font-size: var(--font32);
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.64px;
      text-align: left;
      color: #171a17;
    }

    a {
      background-color: #f1efee;
      &:hover {
        background-color: #66101f;
      }
    }
  }

  .filter {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 1rem;
    align-items: center;
    //   gap: 2rem;
    margin-bottom: 4rem;
    transition: all 0.3s ease-in-out;
    h1 {
      font-family: var(--manrope);
      font-size: var(--font20);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.63;
      letter-spacing: normal;
      text-align: left;
      color: rgba(13, 59, 102, 0.8);
      padding: 2rem 4rem;
      border-radius: 4rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover{
        opacity: .7;
      }

      &.active {
        border-radius: 4rem;
        background-color: #0d3b66;
        color: #f1efee;
      }
    }
  }

  .grid_container {
    width: 100%;
    height: 80vh;
    overflow-x: auto;
    border: 2px solid #ccc;
    position: relative;
    border-radius: 6rem;
    border: transparent;
    background-color: #fff;
    .title {
      position: sticky;
      top: 3rem;
      left: 4rem;
      font-family: var(--manrope);
      font-size: 2.4rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: left;
      color: #171a17;
      display: inline-flex;
      // border: 1px solid red;
      background-color: #fff;
      padding: 0.5rem;
      border-radius: 1rem;
      z-index: 5;
    }

    .grid {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 350px;
      grid-gap: 10px;
      position: relative;
      margin: 8rem 4rem;

      background-image: repeating-linear-gradient(
          to right,
          transparent,
          transparent 349px,
          #ccc 349px,
          #ccc 350px
        ),
        repeating-linear-gradient(
          to bottom,
          transparent,
          transparent 149px,
          #ccc 149px,
          #ccc 150px
        );

      background-size: 360px 100%, 100% 160px; // 350px + 10px gap = 360; 150 + 10 = 160
      background-position: 0 0;
      background-repeat: repeat;

      .block {
        padding: 20px;
        text-align: center;
        font-weight: bold;

        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        &:nth-child(odd) {
          border: solid 1px #8f0707;
          background-color: #ffc5c8;
        }
        &:nth-child(even) {
          border: solid 1px #0d3b66;
          background-color: #c1e1ff;
        }

        h1 {
          font-family: var(--manrope);
          font-size: var(--font20);
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #171a17;
        }
        p {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.8);
        }
      }
    }
  }
}

.eventSingle_mediaAndResources {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 5rem;

  .head {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.6rem;
    h1 {
      font-family: var(--manrope);
      font-size: var(--font32);
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.64px;
      text-align: left;
      color: #171a17;
    }

    a {
      background-color: #f1efee;
      &:hover {
        background-color: #66101f;
      }
    }
  }

  .filter {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 1rem;
    align-items: center;
    //   gap: 2rem;
    margin-bottom: 4rem;
    transition: all 0.3s ease-in-out;
    h1 {
      font-family: var(--manrope);
      font-size: var(--font20);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.63;
      letter-spacing: normal;
      text-align: left;
      color: rgba(13, 59, 102, 0.8);
      padding: 2rem 4rem;
      border-radius: 4rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

          &:hover{
        opacity: .7;
      }
      &.active {
        border-radius: 4rem;
        background-color: #0d3b66;
        color: #f1efee;
      }
    }
  }

  .grid_container {
    display: flex;
    flex-direction: column;
    position: relative;
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      width: 100%;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .viewMore {
      cursor: pointer;
      align-self: center;
      margin-top: 3.2rem;
    }
  }
}

.eventSingle_registerEvents {
  .head {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.6rem;
    h1 {
      font-family: var(--manrope);
      font-size: var(--font32);
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.64px;
      text-align: left;
      color: #171a17;
    }

    a {
      background-color: #f1efee;
      &:hover {
        background-color: #66101f;
      }
    }
  }

  form {
    position: relative;

    .submit {
      cursor: pointer;
    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
      outline: none;
    }

    width: 70%;
    .row {
      display: flex;
      width: 100%;
      gap: 4rem;

      &.textarea {
        width: 100%;

        div {
          width: 100%;
        }
      }

      > div {
        display: flex;
        flex-direction: column;
        width: 50%;

        label {
          font-family: var(--manrope);
          font-size: var(--font20);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.8);
          margin-bottom: 0.8rem;
        }
        input {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.6);
          margin-bottom: 2.4rem;
          padding: 2rem 1.6rem;
          border-radius: 1.5rem;
          border: solid 0.5px rgba(23, 26, 23, 0.5);
          background-color: #fff;
          width: 100%;
        }
        select {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.6);
          // margin-bottom: 2.4rem;
          padding: 2rem 1.6rem;
          border-radius: 1.5rem;
          border: solid 0.5px rgba(23, 26, 23, 0.5);
          background-color: #fff;
        }

        textarea {
          width: 100%;
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.6);

          padding: 2rem 1.6rem;
          border-radius: 1.5rem;
          border: solid 0.5px rgba(23, 26, 23, 0.5);
          background-color: #fff;
          height: 24rem;
          resize: none;
          margin-bottom: 3.2rem;
        }

        .number {
          display: flex;
          align-items: center;
          border: solid 0.5px rgba(23, 26, 23, 0.5);
          background-color: #fff;

          border-radius: 1.5rem;

          > input,
          select {
            //  padding: 2rem 1.6rem;
            border-radius: unset;
            border: unset;
            background-color: unset;
            margin-bottom: unset;
            &:target {
              outline: none;
            }
          }
        }
      }
    }
  }
}

.eventSingle_relatedEvents {
  position: relative;
  display: flex;
  flex-direction: column;
  &.sectionWrapper {
    position: relative;
  }

  .head {
    position: relative;

    margin-bottom: 2.4rem;

    h1 {
      font-family: var(--nunito);
      font-size: var(--font48);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.96px;
      text-align: left;
      color: #171a17;
      margin-bottom: 0.8rem;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 6rem;
    column-gap: 2rem;
    margin-bottom: 5rem;
    .block {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      padding: 3rem 1.6rem;
      border-radius: 1.5rem;
      border: solid 0.5px rgba(23, 26, 23, 0.5);

      .image {
        position: relative;

        .tag {
          display: flex;
          gap: 0.7rem;
          margin-bottom: 2.5rem;
          h1 {
            background-color: #f0e8e9;
          }
        }

        img {
          // width: 100%;
          height: auto;
          //   border-radius: 1.5rem;
          object-fit: cover;
          margin-bottom: 2.8rem;
          max-width: 8rem;
        }
      }

      .content {
        display: flex;
        flex-direction: column;

        h1 {
          font-family: var(--manrope);
          font-size: var(--font28);
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.2;
          letter-spacing: normal;
          text-align: left;
          color: #171a17;
          margin-bottom: 1rem;
          max-width: 80%;
        }

        h2 {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.8);
          margin-bottom: 1.4rem;
          text-transform: uppercase;
        }

        p {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.8);
          margin-bottom: 1.6rem;
          max-width: 80%;
        }
        a {
          width: 100%;
        }
      }
    }
  }

  .viewMore {
    align-self: center;
    cursor: pointer;
    margin-bottom: 5rem;
  }
}
