.eventSingle_banner {
  position: relative;
  padding-bottom: 5rem;
  overflow: hidden;
  @media only screen and (max-width: 768px) {
    padding-bottom: 3rem;
  }

  .bg {
    position: absolute;
    right: 0;
    top: 10%;
    max-width: 83rem;

    @media only screen and (max-width: 768px) {
      max-width: 17rem;
      right: -10%;
    }
  }
  .back {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3.2rem;
    @media only screen and (max-width: 768px) {
      margin-bottom: 1.6rem;
    }
    h1 {
      font-family: var(--manrope);
      font-size: var(--font20);
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: center;
      color: #171a17;
    }

    svg {
      max-width: 1rem;
      @media only screen and (max-width: 768px) {
        max-width: 0.4rem;
      }
    }

    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
  }
  .container {
    display: flex;

    gap: 5%;
    border-bottom: 1px solid rgba(23, 26, 23, 0.5);
    padding-bottom: 6rem;
    position: relative;
    z-index: 6;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 3rem;
    }
  }

  .c1 {
    width: 45%;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }

    h1 {
      font-family: var(--nunito);
      font-size: var(--font48);
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #171a17;
      margin-bottom: 1.6rem;
      max-width: 85%;

      @media only screen and (max-width: 768px) {
        margin-bottom: 0.8rem;
      }
    }
    p {
      font-family: var(--manrope);
      font-size: var(--font16);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #171a17;
      margin-bottom: 3.2rem;
      max-width: 85%;

      @media only screen and (max-width: 768px) {
        margin-bottom: 2.4rem;
      }
    }
    a {
      font-family: var(--manrope);
      font-size: var(--font16);
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.63;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
    }
  }
  .c2 {
    width: 45%;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
    .eventInfo {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4rem;
      row-gap: 2.4rem;
      margin-bottom: 2.4rem;
      @media only screen and (max-width: 768px) {
        gap: 2.4rem;
        margin-bottom: 4rem;
      }
      .box {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        @media only screen and (max-width: 768px) {
          &:nth-child(1) {
            order: 1;
          }
          &:nth-child(2) {
            order: 3;
          }
          &:nth-child(3) {
            order: 2;
          }
          &:nth-child(4) {
            order: 4;
          }
        }

        h1 {
          font-family: var(--manrope);
          font-size: var(--font20);
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.4;
          letter-spacing: normal;
          text-align: left;
          color: #171a17;
        }
        p {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #171a17;
        }
      }
    }

    .social {
      display: flex;
      gap: 2rem;
      align-items: center;

      a {
        svg {
          max-width: 3.6rem;
          @media only screen and (max-width: 768px) {
            max-width: 1.8rem;
          }
        }

        transition: all 0.3s ease-in-out;
        &:hover {
          opacity: 0.7;
        }
      }

      @media only screen and (max-width: 768px) {
        justify-content: flex-end;
        margin-bottom: 2.4rem;
      }
    }

    .registerBtn {
      width: 100%;
    }
  }
}

.eventSingle_agenda {
  // overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 5rem;
  @media only screen and (max-width: 768px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .bg {
    position: absolute;
    right: 0;
    top: -70%;
    max-width: 83rem;

    @media only screen and (max-width: 768px) {
      max-width: 17rem;
      right: -10%;
    }
  }

  .head {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.6rem;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 2.4rem;
    }

    h1 {
      font-family: var(--manrope);
      font-size: var(--font32);
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.64px;
      text-align: left;
      color: #171a17;
    }

    a {
      background-color: #f1efee;
      &:hover {
        background-color: #66101f;
      }

      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }

  .filter {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 1rem;
    align-items: center;
    //   gap: 2rem;
    margin-bottom: 4rem;
    transition: all 0.3s ease-in-out;

    @media only screen and (max-width: 768px) {
      white-space: nowrap;
      flex-wrap: nowrap;
      overflow-x: scroll;
    }

    h1 {
      font-family: var(--manrope);
      font-size: var(--font20);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.63;
      letter-spacing: normal;
      text-align: left;
      color: rgba(13, 59, 102, 0.8);
      padding: 2rem 4rem;
      border-radius: 4rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      @media only screen and (max-width: 768px) {
        padding: 1.3rem 1.2rem;
        font-size: 1.2rem;
      }

      &:hover {
        opacity: 0.7;
      }

      &.active {
        border-radius: 4rem;
        background-color: #0d3b66;
        color: #f1efee;
      }
    }
  }

  &::before {
    content: url("/assets/images/events/grid-bg.png");
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 16.3rem;
    height: auto;
    // border: 1px solid red;

    z-index: 5;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  .grid_container {
    width: 100%;
    height: 80vh;
    overflow-x: auto;
    border: 2px solid #ccc;
    position: relative;
    border-radius: 6rem;
    border: transparent;
    background-color: #fff;

    background-image: url("/assets/images/events/grid.png");
    background-repeat: no-repeat;

    background-size: auto;
    background-position: 5rem 13rem;

    @media only screen and (max-width: 768px) {
      border-radius: 1.5rem;

      background-position: 2rem 5rem;

      height: 50vh;
    }

    .title {
      position: sticky;
      top: 3rem;
      left: 4rem;
      font-family: var(--manrope);
      font-size: var(--font24);
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: left;
      color: #171a17;
      display: inline-flex;
      // border: 1px solid red;
      background-color: #fff;
      padding: 0.5rem;
      border-radius: 1rem;
      z-index: 5;

      @media only screen and (max-width: 768px) {
        top: 2.4rem;
        left: 1.6rem;
      }
    }

    .grid {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 35rem;
      grid-gap: 1rem;
      position: relative;
      margin: 8rem 4rem;

      @media only screen and (max-width: 768px) {
        margin: 3rem 2rem;
        grid-auto-columns: 15rem;
      }

      .block {
        padding: 2rem;
        text-align: center;
        font-weight: bold;
        position: relative;
        border-radius: 0.8rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        @media only screen and (max-width: 768px) {
          padding: 1rem 1.6rem;
        }
        &:nth-child(odd) {
          border: solid 1px #8f0707;
          background-color: #ffc5c8;
        }
        &:nth-child(even) {
          border: solid 1px #0d3b66;
          background-color: #c1e1ff;
        }

        h1 {
          font-family: var(--manrope);
          font-size: var(--font20);
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #171a17;

          @media only screen and (max-width: 768px) {
            font-size: 1.2rem;
          }
        }
        p {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.8);

          @media only screen and (max-width: 768px) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.eventSingle_mediaAndResources {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 5rem;

  @media only screen and (max-width: 768px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .head {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.6rem;
    h1 {
      font-family: var(--manrope);
      font-size: var(--font32);
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.64px;
      text-align: left;
      color: #171a17;
    }

    a {
      background-color: #f1efee;
      &:hover {
        background-color: #66101f;
      }
    }
  }

  .filter {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 1rem;
    align-items: center;
    //   gap: 2rem;
    margin-bottom: 4rem;
    transition: all 0.3s ease-in-out;
    h1 {
      font-family: var(--manrope);
      font-size: var(--font20);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.63;
      letter-spacing: normal;
      text-align: left;
      color: rgba(13, 59, 102, 0.8);
      padding: 2rem 4rem;
      border-radius: 4rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 0.7;
      }
      &.active {
        border-radius: 4rem;
        background-color: #0d3b66;
        color: #f1efee;
      }
    }
  }

  .grid_container {
    display: flex;
    flex-direction: column;
    position: relative;
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      width: 100%;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .viewMore {
      cursor: pointer;
      align-self: center;
      margin-top: 3.2rem;
    }
  }
}

.eventSingle_registerEvents {
  position: relative;

  padding-top: 6rem;
  padding-bottom: 6rem;
  .head {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.6rem;
    h1 {
      font-family: var(--manrope);
      font-size: var(--font32);
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.64px;
      text-align: left;
      color: #171a17;
    }

    a {
      background-color: #f1efee;
      &:hover {
        background-color: #66101f;
      }
    }
  }

  form {
    position: relative;

    .submit {
      cursor: pointer;
    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
      outline: none;
    }

    width: 70%;

    @media only screen and (max-width: 950px) {
      width: 85%;
    }

    .row {
      display: flex;
      width: 100%;
      gap: 4rem;

      &.textarea {
        width: 100%;

        div {
          width: 100%;
        }
      }

      > div {
        display: flex;
        flex-direction: column;
        width: 50%;

        label {
          font-family: var(--manrope);
          font-size: var(--font20);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.8);
          margin-bottom: 0.8rem;
        }
        input {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.6);
          margin-bottom: 2.4rem;
          padding: 2rem 1.6rem;
          border-radius: 1.5rem;
          border: solid 0.5px rgba(23, 26, 23, 0.5);
          background-color: #fff;
          width: 100%;
        }
        select {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.6);
          // margin-bottom: 2.4rem;
          padding: 2rem 1.6rem;
          border-radius: 1.5rem;
          border: solid 0.5px rgba(23, 26, 23, 0.5);
          background-color: #fff;
        }

        textarea {
          width: 100%;
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.6);

          padding: 2rem 1.6rem;
          border-radius: 1.5rem;
          border: solid 0.5px rgba(23, 26, 23, 0.5);
          background-color: #fff;
          height: 24rem;
          resize: none;
          margin-bottom: 3.2rem;
        }

        .number {
          display: flex;
          align-items: center;
          border: solid 0.5px rgba(23, 26, 23, 0.5);
          background-color: #fff;

          border-radius: 1.5rem;

          > input,
          select {
            //  padding: 2rem 1.6rem;
            border-radius: unset;
            border: unset;
            background-color: unset;
            margin-bottom: unset;
            &:target {
              outline: none;
            }
          }
        }
      }
    }
  }
}

.eventSingle_relatedEvents {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
  &.sectionWrapper {
    position: relative;
  }

  .head {
    position: relative;

    margin-bottom: 2.4rem;

    h1 {
      font-family: var(--nunito);
      font-size: var(--font48);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.96px;
      text-align: left;
      color: #171a17;
      margin-bottom: 0.8rem;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 6rem;
    column-gap: 2rem;
    margin-bottom: 5rem;
    .block {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      padding: 3rem 1.6rem;
      border-radius: 1.5rem;
      border: solid 0.5px rgba(23, 26, 23, 0.5);

      .image {
        position: relative;

        .tag {
          display: flex;
          gap: 0.7rem;
          margin-bottom: 2.5rem;
          flex-wrap: wrap;
          h1 {
            background-color: #f0e8e9;
          }
        }

        img {
          height: auto;
          object-fit: contain;
          margin-bottom: 2.8rem;
          aspect-ratio: 1 / 1;
          max-width: 8rem;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        h1 {
          font-family: var(--manrope);
          font-size: var(--font28);
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.2;
          letter-spacing: normal;
          text-align: left;
          color: #171a17;
          margin-bottom: 1rem;
          max-width: 90%;
        }

        h2 {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.8);
          margin-bottom: 1.4rem;
          text-transform: uppercase;
        }

        p {
          font-family: var(--manrope);
          font-size: var(--font16);
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: rgba(23, 26, 23, 0.8);
          margin-bottom: 1.6rem;
          max-width: 80%;
        }
        a {
          width: 100%;
          margin-top: auto;
        }
      }
    }
  }

  .viewMore {
    align-self: center;
    cursor: pointer;
    margin-bottom: 5rem;
  }
}

// mobile ================

@media only screen and (max-width: 768px) {
  .eventSingle_mediaAndResources {
    .head {
      margin-bottom: 2.4rem;
    }
    .filter {
      flex-wrap: nowrap;
      overflow-x: scroll;
      margin-bottom: 2.4rem;
      h1 {
        text-align: center;
        font-size: 1.2rem;
        padding: 1.2rem 2rem;
        white-space: nowrap;
      }
    }
    .grid_container {
      .grid {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .eventSingle_registerEvents {
    padding-top: 3rem;
    padding-bottom: 3rem;

    .head {
      margin-bottom: 2.4rem;
    }

    form {
      width: 100%;

      .row {
        flex-direction: column;
        width: 100%;
        gap: 0rem;
        > div {
          width: 100%;

          input {
            margin-bottom: 2.4rem;
          }

          .number{
            margin-bottom: 2.4rem;
          }
        }
      }
    }
  }

  .eventSingle_relatedEvents {
    padding-top: 3rem;
    padding-bottom: 3rem;
    .head {
      h1 {
        font-size: 2.4rem;
        margin-bottom: 0.8rem;
      }
      p {
        font-size: 1.2rem;
        margin-bottom: 1.6rem;
      }
    }

    .container {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 3.2rem;
      .block {
        .image {
          .tag {
            left: 1.6rem;
            top: 1.6rem;
          }

          img {
            max-width: 4.6rem;
            margin-bottom: 1.6rem;
          }
        }

        .content {
          h1 {
            font-size: 2rem;
          }
          p {
            font-size: 1.2rem;
            margin-bottom: 2.4rem;
          }
        }
      }
    }

    h2 {
      font-size: 1.2rem;
    }
  }

  // !========================
}
