// Work Single Banner Section
.workSingleBanner {
  position: relative;

  &.heroMarginTop {
    // Main container
    .workSingleContainer {
      padding-bottom: var(--paddingB8);

      &.sectionWrapper {
        // Back button/link
        .backBtn {
          a {
            // Arrow icon
            font-family: var(--manrope);
            font-size: var(--font20);
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: center;
            color: #171a17;
            display: flex;
            align-items: center;
            gap: 1.6rem;
            text-decoration: none;
            margin-bottom: 4rem;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            width: fit-content;

            svg {
              height: 1.6rem;
              width: auto;

              path {
              }
            }

            // Text span
            span {
            }

            // Hover state
            &:hover {
              svg path {
              }
              span {
              }
            }
          }
        }

        // Content container

        .topWrapper {
          display: flex;
          align-items: flex-start;
          gap: 8vw;
          justify-content: space-between;
          width: 100%;

          .headContainer {
            // Page title
            margin-bottom: 8rem;
            width: 100%;

            h2 {
              font-family: var(--nunito);
              font-size: var(--font48);
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: -0.96px;
              text-align: left;
              color: #171a17;
              margin-bottom: 1.2rem;
            }

            h5 {
              font-family: var(--manrope);
              font-size: var(--font28);
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.2;
              letter-spacing: normal;
              text-align: left;
              color: rgba(23, 26, 23, 0.8);
              margin-bottom: 0.8rem;
            }

            // Description text
            p {
              font-family: var(--manrope);
              font-size: var(--font16);
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: normal;
              text-align: left;
              color: rgba(23, 26, 23, 0.8);
              width: 100%;
            }
          }

          .imgContainer {
            margin-top: 4rem;

            .belowHeader {
              width: 100%;
            }
          }
        }

        .storiesContainer {
          // Header container
          border-radius: 6rem;
          background-image: linear-gradient(123deg, #992035 3%, #590a18 98%);
          padding: 6rem 0 6rem 6rem;
          position: relative;
          overflow: hidden;

          @media only screen and (max-width: 768px) {
            padding: 3.2rem;
            border-radius: 2.5rem;
          }

          .btnPhn {
            display: none;
            position: relative;

            @media only screen and (max-width: 768px) {
              display: flex;
              width: 100%;
            }
          }

          .storiesShape {
            position: absolute;
            right: -50rem;
            top: 0rem;
            width: auto;
            animation: rotate360 60s linear infinite;
          }

          .headContainer {
            // Main heading
            display: flex;
            justify-content: space-between;
            gap: 4rem;
            margin-bottom: 4rem;
            position: relative;

            @media only screen and (max-width: 768px) {
              flex-direction: column;
              margin-bottom: 1rem;
              gap: 1.2rem;
            }

            h2 {
              font-family: var(--nunito);
              font-size: var(--font48);
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: -0.96px;
              text-align: left;
              color: #f1efee;
              flex-basis: 40%;
            }

            // Right content
            .right {
              flex-basis: 60%;
              padding-right: 2.4rem;

              @media only screen and (max-width: 768px) {
                padding-right: 0;
              }

              p {
                font-family: var(--manrope);
                font-size: var(--font16);
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                text-align: left;
                color: #f1efee;
                margin-bottom: 2rem;
              }

              // White button
              .whiteBtn {
                @media only screen and (max-width: 768px) {
                  display: none;
                }

                &:hover {
                }
              }
            }
          }

          // Slider container
          .sliderContainer {
            position: relative;

            @media only screen and (max-width: 768px) {
              padding-bottom: 3.2rem;
            }

            // Navigation buttons wrapper
            .btnWrapper {
              // Left arrow button
              display: flex;
              align-items: center;
              gap: 8px;

              svg {
                width: 4rem;
                height: 4rem;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                  circle,
                  path {
                    opacity: 0.6;
                    transition: all 0.3s ease-in-out;
                  }
                }
              }
            }

            // Slides wrapper
            .slidesWrapper {
              // Individual slide
              display: flex;
              gap: 3.2rem;
              margin-top: 2rem;

              .slide {
                // Image container with clip path
                margin: 0 1rem;

                @media only screen and (max-width: 575px) {
                  margin: 0 0.5rem;
                }

                .imgContainer {
                  // SVG clip path
                  position: relative;
                  margin-bottom: 1rem;

                  .tagsContainer {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    display: flex;
                    align-items: center;
                    gap: 0.6rem;
                    z-index: 1;

                    .cardTag {
                      background-color: #f0e8e9;
                    }
                  }

                  .videoWrapper {
                    iframe {
                      width: 100%;
                      height: 100%;
                      border-radius: 1.5rem;
                      border: none;
                      overflow: hidden;
                      aspect-ratio: 16/9;

                      video {
                        width: 100%;
                        height: 100%;
                        border-radius: 1.5rem;
                      }
                    }
                  }
                }

                // Text content
                .cardTextContent {
                  h4 {
                    font-family: var(--manrope);
                    font-size: var(--font28);
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.2;
                    letter-spacing: normal;
                    text-align: left;
                    color: #f1efee;
                    margin-bottom: 1rem;
                  }

                  p {
                    font-family: var(--manrope);
                    font-size: var(--font16);
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.5;
                    letter-spacing: normal;
                    text-align: left;
                    color: #f1efee;
                  }
                }
              }

              .slide:hover .arrow circle {
                fill: #8f0707;
              }
              .slide:hover .arrow path {
                fill: #fff;
                animation: moveDiagonal 1s ease-in-out infinite;
              }
            }
          }
        }
      }
    }
  }
}

.workRelatedProjects {
  .workRelatedContainer {
    padding: var(--padding8);

    h2 {
      font-family: var(--nunito);
      font-size: var(--font48);
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.96px;
      text-align: left;
      color: #171a17;
      margin-bottom: 3.2rem;
    }

    .listingsContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3.2rem;

      .slide {
        // Image container with clip path
        // margin: 0 1rem;

        .imgContainer {
          // SVG clip path
          position: relative;
          margin-bottom: 1rem;

          .tagsContainer {
            position: absolute;
            top: 1rem;
            left: 1rem;
            display: flex;
            align-items: center;
            gap: 0.6rem;
            z-index: 1;

            .cardTag {
              background-color: #f0e8e9;
            }
          }

          // Slide image
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1.5rem;
            aspect-ratio: 4/3;
          }
        }

        // Text content
        .cardTextContent {
          margin-bottom: 2rem;

          h4 {
            font-family: var(--manrope);
            font-size: var(--font28);
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: #171a17;
            margin-bottom: 1rem;
          }

          p {
            font-family: var(--manrope);
            font-size: var(--font16);
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #171a17;
          }
        }

        a {
          width: 100%;
        }
      }
    }

    .viewMoreBox {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 4rem;
      width: 100%;
    }
  }
}
